@fallback: -apple-system,BlinkMacSystemFont,"Segoe UI","Ubuntu",Roboto,"Helvetica Neue",Arial,sans-serif;

body {
    margin: 54px 0;
}

.font {
    font-family: @fallback;
}

.bold-text {
    .font;
    font-weight: 800;
}

.big-text {
    .bold-text;
    font-size: 3em;
}

.card-title {
    .font;
    font-weight: bolder;
}

.detail-title {
    .card-title;
}
