{% extends "navbar.html" %}
{% block title %}{{question.question_text}}{% endblock %}

{% block content %}
    <h6><a href="../../">← Polls</a></h6>
    <h1 class="bold-text">Vote</h1>
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %} 
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h2 class="card-title" style="margin-bottom:0px;">
                    {{question.question_text}}
                </h2>
            </div>
            {% if already_voted %}
                <div class="card-body" style="padding-top:0px">
                    <p class="card-text">You already voted.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-primary" href="{% url 'polls:results' question.id%}">View results</a>
                </div>
            {% else %}
                <ul class="list-group list-group-flush">
                    {% for choice in question.choice_set.all %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                        <label for="choice{{ forloop.counter }}" style="margin-top:8px">
                            <b>{{ choice.choice_text }}</b>
                        </label>
                    </a>
                    {% endfor %}
                </ul>
                <div class="card-footer">
                    <input class="btn btn-sm btn-primary" type="submit" value="Submit vote">
                    <a class="btn btn-sm btn-link" href="{% url 'polls:results' question.id%}">View results</a>
                    <span style="padding-left:10px; color:red">
                        {% if error_message %}
                        <small>{{ error_message }}</small>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        </div>
        <small class="card-text">Posted by 
            <a href="{% url 'profile' question.owner.username %}">
                <b>{{ question.owner.first_name }} {{question.owner.last_name}}</b>
            </a>
            <span class="text-muted">at {{ question.pub_date|date:'D M d, Y f A' }}</span>
        </small>
    </form>
{% endblock %}
