{% extends "navbar.html" %}
{% load static %}

{% block title %}{{question.question_text}} - Results{% endblock %}

{% block content %}
    <h6><a href="../">← Vote</a></h6>
    <h1 class="bold-text">Results</h1>
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h2 class="card-title" style="margin-bottom:0px;">
                {{question.question_text}}
            </h2>
        </div>
        <ul class="list-group list-group-flush">
            {% for choice, percent in choices %}
                <li class="list-group-item">
                    <b>{{ choice.choice_text }}</b> 
                    <span class="float-right">{{ choice.votes }} vote{{ choice.votes|pluralize }}</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ percent }}%" ></div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="card-footer">
            <a class="btn btn-sm btn-primary" href="{% url 'polls:detail' question.id%}">Vote</a>
            <span style="padding-left:10px">
                <small>{{ total }} vote{{ total|pluralize }}</small>
            </span>
        </div>
    </div>
    <small class="card-text">Posted by 
        <a href="{% url 'profile' question.owner.username %}">
            <b>{{ question.owner.first_name }} {{question.owner.last_name}}</b>
        </a>
        <span class="text-muted">at {{ question.pub_date|date:'D M d, Y f A' }}</span>
    </small>
{% endblock %}
