{% extends 'list.html' %}

{% block addpoll %}
    <div class="card bg-light mb-2">
    <div class="card-body">
        <form action="{% url 'add_poll' %}" method="post" id="add_question">
            {% csrf_token %}
            <input class="form-control card-title" type="text" placeholder="What's on your mind, {{request.user.first_name}}?" name="poll_name" style="font-size:1.75rem" id="poll_name" required>
            <div class="choices"></div>
            <div class="float-right add-choice">
                <button type="button" class="btn btn-sm btn-outline-primary" id="add">Add choice</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}