{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Pollr</title>  
        {% include 'styles.html' %}
        {% include 'scripts.html' %}
        {% block style %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block nav %}{% endblock %}
            <div class="row">
                <div class="col-lg col-sm-1"></div>
                <div class="col-lg-7 col-sm-10">
                    {% block content %}{% endblock %}
                    {% block list %}{% endblock %}
                </div>
                <div class="col-lg col-sm-1">
                    
                </div>
            </div>
        </div>
    </body>
</html>
