{% extends "navbar.html" %}
<!-- 
{% block script %}
    require(['js/polls']);
{% endblock %} -->

{% block list %}
    {% block user %}{% endblock %}
    <div>
        {% block home %}{% endblock %}
        <h1 class="bold-text">Polls</h1>
    </div>
    {% if request.user.is_authenticated %}
        {% block addpoll %}{% endblock %}
    {% endif %}
    {% if questions %}
        <div id="polls_list">
        {% for question in questions %}
            <div class="card bg-light mb-2">
                <div class="card-body">
                    <h3 class="card-title">
                    {{question.question_text}}
                    </h3>
                    <div class="btn-group float-right">
                        <a href="{% url 'polls:detail' question.id %}" class="btn btn-sm btn-outline-primary">Vote</a>
                        <a href="{% url 'polls:results' question.id %}" class="btn btn-sm btn-outline-primary">
                            Results
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>No polls.</p>
    {% endif %}
{% endblock %}