{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less' %}">
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>

        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' request.user.username %}" 
                style="margin-right:10px; font-size:14px">{{request.user.first_name}}</a>
            <a href="{% url 'registration:sign_out' %}" class="btn btn-sm btn-primary float-right">Sign out</a>
        {% endif %}
    </div>
</nav>
{% endblock %}
