{% extends "list.html" %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block home %}
<h6><a href="../../">← Polls</a></h6>
{% endblock %}

{% block user %} 
<h1 class="display-4 bold-text text-center">{{user.first_name}} {{user.last_name}}</h1>
<h2 class="text-muted font text-center">@{{user.username}}</h2>
<hr> 
{% endblock %}