{% extends "base.html" %}
{% load static %}

{% block title %}Sign in{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-7" style="margin-top:40px">
            <form action="{% url 'registration:sign_in' %}" method="post" class="form-signin">
                {% csrf_token %}
                <h1 class="bold-text form-signin-heading">Sign in</h1>
                <small style="color:red">{{ error }}</small>
                <input type="name" name="username" class="form-control"
                    placeholder="Username" value="{{ username }}" required autofocus>
                <input type="password" name="password" class="form-control"
                    placeholder="Password" required style="margin-top:10px">
                <button class="btn btn-primary btn-block" type="submit" style="margin-top:10px">Sign in</button>
                <a class="btn btn-outline-primary btn-block"
                    href="{% url 'registration:sign_up' %}">Sign up</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}