{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up{% endblock %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="{% static 'css/style.less' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
            <div class="col-7" style="margin-top:40px">
                {% if not success %}
                    <form action="{% url 'registration:sign_up' %}" method="post" class="form-signin">
                        {% csrf_token %}
                        <h1 class="bold-text form-signin-heading">Sign up</h1>
                        <small style="color:red;">{{ username_error }}</small>
                        <small style="color:red;">{{ email_error }}</small>
                        <small style="color:red;">{{ password_error }}</small>
                        <input type="text" class="form-control"
                            placeholder="Username" name="username" required>
                        <div class="form-row" style="margin-top:10px">
                            <div class="col">
                                <input type="text" class="form-control"
                                    placeholder="First Name" name="first_name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control"
                                    placeholder="Last Name" name="last_name">
                            </div>
                        </div>
                        <input type="email" class="form-control" style="margin-top:10px"
                            placeholder="Email Address" name="email" required>
                        <input type="password" class="form-control"
                            placeholder="Password" name="password" style="margin-top:10px">
                        <button class="btn btn-primary btn-block" type="submit" style="margin-top:10px">Sign up</button>
                        <p class="text-center"><small>Already have an account? 
                            <a href="{% url 'registration:sign_in' %}">Sign in</a>.
                        </small></p>
                    </form>
                {% endif %}
            </div>
        <div class="col"></div>
    </div>
{% endblock %}
